body{
	font-family: 'Walter Turncoat', cursive;
}

.hangman{
	border: 1px solid blue;
}

.hangman > canvas{
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 1px solid green;
}

.context{
	text-align:center;
	font-size: 24px;
	border: 1px solid red;
}

button{
	background-color: #4CAF50;
	border: none;
 	color: white;
 	padding: 15px 32px;
 	text-align: center;
 	text-decoration: none;
 	display: inline-block;
 	font-size: 16px;
 	margin: 4px 2px;
 	cursor: pointer;
 	border-radius: 50%;
}

button:hover{
	background-color: #3e8e41;
}