body{
	background-color: #f5ffd6;
}
.main{
	font-family: 'Walter Turncoat', cursive;
	color : #292930;
 	text-align: center;
 }
canvas{
	width: 300;
	height: 300;
	margin-left: 15%;
	margin-bottom: 5%;
}
.left{
}
.wrong{
	font-size: 16px;
	height: 5%;
}
.right{
}
.buttons {
}
.play{
	background-color: #4CAF50;
	border: none;
 	color: white;
 	padding: 15px 32px;
 	text-decoration: none;
 	display: inline-block;
 	font-size: 16px;
 	margin: 4px 2px;
 	cursor: pointer;
 	border-radius: 50%;
}
.buttons > button{
	background-color: #eeff6c;
	border: none;
 	color: #363636;
 	display: inline-block;
 	font-size: 18px;
 	font-family: 'Walter Turncoat', cursive;
 	margin: 5px 2px;
 	cursor: pointer;
 	border-radius: 50%;
}
.context{
	font-size: 20px;
}
 footer{
 }
.buttons > button:active {
  background-color: #cf5959;
 }
 br{
 	display: none;
 }
 .github{
 	text-decoration: none;
 	color: black;
}